{% extends "base.html" %}

{% block title %}
    My about me page
{% endblock title %}

{% block content %}
    <div class="container">
        <p>A little bit more about me:</p>
        <a href="/portfolio/fakebook">My fakebook profile</a>

        <p>If you would like to send me a message fill out the form below:</p>
        <form method="post" action="/contact">
            <div class="form-group">
                <label for="InputName">Name</label>
                <input type="text" class="form-control" name="contact-name" placeholder="Your name" id="InputName">
            </div>
            <div>
                <label for="InputEmail">Email</label>
                <input type="email" class="form-control" name="contact-email" placeholder="Your email" id="InputEmail">
            </div>
            <div class="form-group">
                <label for="InputMessage">Message</label>
                <textarea name="message" class="form-control" placeholder="Your message" id="InputMessage"></textarea>
            </div>
            <button type="button" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
{% endblock content %}