<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="My fakebook profile">
    <meta name="keywords" content="fakebook, my profile, introduction, hobbies">
    <meta name="author" content="Timotej Hribar">

    <title>Timotej Hribar | Fakebook profile</title>
  </head>

  <body>
    <font size="4" color="blue">Fakebook search:</font>
    <input list="Search by:" placeholder="Pick one or none">
    <datalist id="Search by:">
      <option value="Person">
      </option><option value="Interest">
      </option><option value="Place">
      </option>
    </datalist>

    <input type="text" placeholder="Search fakebook">

    <hr>

    <h1>Fakebook</h1>

    <img src="/static/img/niseko-timeline.jpg" alt="My timeline photo" height="200" width="400">

    <h2>Timotej Hribar</h2>

    <h3>About</h3><h3>
      <ul>
        <li>Birthday: 24. February 1990</li>
        <li>Lives in: <a href="https://www.google.si/maps/place/Ljubljana/@46.0662151,14.4620594,12z/data=!3m1!4b1!4m5!3m4!1s0x476531f5969886d1:0x400f81c823fec20!8m2!3d46.0569465!4d14.5057515?hl=sl">Ljubljana</a></li>
        <li> Fun fact: Adrenaline junkie</li>
      </ul>

    <button type="button">Read more</button>

    <button type="button">Add a friend</button>

    <hr>

    </h3><h4>Timotej's feed</h4>
      <p>In case you cannot see due to my whole face being covered with snow, today was a happy day <strong>#searchforasmile</strong></p>

      <iframe src="/static/img/niseko-post.jpg" alt="my feed photo" height="200" width="400"></iframe>

    <hr>
  </body>

  <footer>
    <p><font size="2" color="blue"><strong>Fakebook inc.</strong></font></p>
    <p><font size="2" color="blue"><strong>Contact support:</strong> <a href="mailto:hribartim@gmail.com">support@fakebook.com</a></font></p>
  </footer>

</html>