<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Welcome to my Index page</title>
    </head>

    <body>
        <h1>Hello, welcome to my development hub!</h1>
        <table>
            <tr>
                <td><h2><a href="http://127.0.0.1:5000/about">About me</a></h2></td>
                <td><h2><a href="http://127.0.0.1:5000/portfolio">Portfolio</a></h2></td>
            </tr>
        </table>
        <img src="/static/img/smartninja-logo.png">
    </body>
</html>