<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Development HUB - My portfolio</title>
</head>
<body>
    <h1>Welcome to my portfolio</h1>
    <h2><a href="https://sm-lesson-15-app.herokuapp.com/">Home</a></h2>
    <h2><a href="https://sm-lesson-15-app.herokuapp.com/about">About me</a></h2>
    <img src="/static/img/smartninja-logo.png">
    <h3>Below is the assortment of coding projects I have done so far:</h3>
        <div>
            <table>
                <tr>
                    <td><a href="https://sm-lesson-15-app.herokuapp.com/portfolio/fakebook">Fakebook</a></td>
                    <td><a href="https://sm-lesson-15-app.herokuapp.com/portfolio/foogle-login">Foogle login</a></td>
                    <td><a href="https://sm-lesson-15-app.herokuapp.com/portfolio/og-barbershop">OG Barbershop</a></td>
            </table>
        </div>
</body>
</html>